:root {
    --primary-color: rgb(28, 43, 90);
    --primary-color-claro: rgb(76, 91, 134);
}
* {
    box-sizing: border-box;
    outline: 0px;
}
body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    line-height: 1.3em;
}
p, h1, label {
    color: rgb(70, 83, 157);
}

.container {
    max-width: 640px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 20px;
    height: 40px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

form button:hover {
    background: var(--primary-color-claro);
}